@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");


.i{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.icon {
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
  }
  
  .label {
    font-weight: bold;
  }

.profile-img {
    max-width: 200px;
    border-radius: 50%;
  }

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}
.post-img {
  width: 100%;
  height: auto;
}


.img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.mr{
    margin-top: 10px;
    margin-right: 20px;
}