<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.css">
  <title>Home</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Blog Site</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <form class="form-inline">
              <input class="form-control mr-sm-2 mr" type="search" placeholder="Search" aria-label="Search">
            </form>
          </li>
          <li class="nav-item">
            <a class="nav-link mr" href="http://localhost:3000/login_page/login_v1/login.html">Login</a>
          </li>
          <li class="nav-item" id="user">
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-4">
    <!-- Main content for the home page -->
    <h1>Welcome to Our Blog!</h1>
    <!-- Your blog content goes here -->
  </div>



  <div class="container mt-4">
    <div class="row">
      <div class="col-lg-2"> </div>
      <div class="col-lg-8">
        <h2>Featured Posts</h2>

        <div class="row"  id="card">

        </div>
      </div>
      <div class="col-lg-2"> </div>
    </div>
  </div>

  <script>
    let token = localStorage.getItem("token")
    let id = localStorage.getItem("id")

    function get_profile() {
      fetch(`http://localhost:3000/get_profile/${id}`)
        .then(res => res.json())
        .then(data => {
          if (token) {
            document.getElementById("user").innerHTML = ` <a class="nav-link " href="http://localhost:3000/user/user.html?${id}"><img class="img" src="${data.profile}" alt=""></a>`
          }
        })
    }

    function blogs() {
      let array = [];
      fetch(`http://localhost:3000/get_blogs`)
        .then(res => res.json())
        .then(data => {
          data.map((item) => {
            let card = `            <div class="col-lg-4 mb-5">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                      <img src="${item.user.profile}" alt="Icon" class=" i mr-3 pt-2">
                      <div>
                        <p class="username text-muted mb-0 pt-1">${item.user.name}</p>
                      </div>
                    </div>
                    <img src="http://localhost:3000/image/${item.post.filename}" alt="Post Image" class="card-img-top">
                    <div class="card-body">
                      <p class="card-text">${item.caption}</p>
                    </div>
                  </div>
            </div>
` 
            document.getElementById("card").innerHTML += card

          })
        })
    }


    blogs()

    get_profile()
  </script>
</body>

</html>